.admin {
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: var(--back-color2);

    .body {
        // width: auto;
        position: relative;
        padding-top: 5px;
        .content {
            // position: relative;
            padding: 10px 20px 20px;
            min-width: 200px;
            width: auto;
        }
    }
}