.join-group-modal {
    .des {
        height: 240px;
        margin-top: 20px;
        .avatar {
            width: 72px;
            height: 72px;
        }
        .intro {
            overflow: auto;
            height: 160px;
        }
        .join {
            margin-top: 20px;
        }
        .no-result {
            text-align: center;
        }
    }
}


